gasprice-api/src/main/app/gasprice-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="gasprices.aaa.com" port="80" basePath="/" doc:name="HTTP Request Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" doc:name="MySQL Configuration"/>
    <flow name="gasbuddyFlow">
        <dw:transform-message doc:name="Grab location">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.location]]></dw:set-payload>
            <dw:set-variable variableName="location"><![CDATA[%dw 1.0
%output application/java
---
payload.location]]></dw:set-variable>
        </dw:transform-message>
        <logger message="location is: #[payload]" level="INFO" doc:name="Logger"/>
        <custom-transformer class="com.srs.transformer.gasfinder" doc:name="Get price from AAA"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	startDate: now as :string{format: "YYYY-MM-dd"},
	endDate: ((now as :localdatetime {format: "YYYY-MM-dd"}) + |P1D|) as :string{format: "YYYY-MM-dd"},
	gasPrice: payload,
	location: flowVars.location
}]]></dw:set-payload>
            <dw:set-variable variableName="persistedPayload"><![CDATA[%dw 1.0
%output application/java
---
{
	startDate: now as :string{format: "YYYY-MM-dd"},
	endDate: ((now as :localdatetime {format: "YYYY-MM-dd"}) + |P1D|) as :string{format: "YYYY-MM-dd"},
	gasPrice: payload,
	location: flowVars.location
}]]></dw:set-variable>
        </dw:transform-message>
        <db:insert config-ref="MySQL_Configuration" doc:name="Persist daily gas price">
            <db:parameterized-query><![CDATA[INSERT INTO `acelitydb`.`FleetFuelCost`
(`from_date`,`to_date`,`fuel_cost_per_gallon`, `location`)
VALUES (#[payload.startDate], #[payload.endDate], #[payload.gasPrice], #[payload.location]);]]></db:parameterized-query>
        </db:insert>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
flowVars.persistedPayload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
